<p>azienda-details works!</p>
<h2 class="text-dark">Slave Details</h2>
<div class="m-5">
    <table class="table ">
        <thead class="bg-dark text-white">
          <tr>
            <th scope="col" >ID</th>
            <th scope="col">Nome azienda</th>
            <th scope="col">Indirizzo azienda</th>
            <th scope="col">Email azienda</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of azienda$ | async">
            <th>{{a.id_azienda}}</th>
            <td>{{a.nome}}</td>
            <td>{{a.indirizzo}}</td>
            <td>{{a.email}}</td>
          </tr>
        </tbody>
    </table><br>
    <button class="btn btn-dark" routerLink="/">Home</button>
    </div>
